<div class="container">
    <h2 class="text-center mb-4">Gracias por interesarte en nuestros productos</h2>
  
    <div class="row">
      <div class="col-12">
        <h3>En breve..</h3>
        <p>
          Próximamente, este espacio será utilizado para las personalizaciones de cada cliente administrador, donde podrán configurar diferentes aspectos relacionados con la gestión de la asociación.
        </p>
        <p>
          En este espacio, se implementarán herramientas específicas para que los administradores puedan personalizar y gestionar sus funciones, adaptando la plataforma a sus necesidades particulares.
        </p>
        <p>
          El objetivo es ofrecer un entorno flexible y personalizado para cada cliente administrador, asegurando que puedan optimizar la administración de socios de manera eficiente y acorde a sus requerimientos.
        </p>
  
        <h4>Próximas Funciones:</h4>
        <ul>
          <li>Personalización del registro y gestión de socios</li>
          <li>Opciones avanzadas para la visualización de socios registrados</li>
          <li>Actualización dinámica de la información de los socios</li>
          <li>Configuración de parámetros administrativos personalizables</li>
        </ul>
      </div>
    </div>
  </div>
  